@model AspNetMVC.Models.WeatherModel
<div>
    <h3>Weather in @Model.City</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Average temperature:</th>
                <th>Weather: </th>
                <th>Description</th>
                <th>Humidity: </th>       
                <th>Speed wind: </th>
            </tr>
        </thead>

        <tr>
            <td>@Model.Temperature °C</td>
            <td>@Model.Weather</td>
            <td>@Model.WeatherDescription</td>        
            <td>@Model.Humidity%</td>
            <td>@Model.WindSpeed m/s</td>
        </tr>
    </table>
</div>